@import "../libs/Accordeon/MFSAccordeon"
*
	margin: 0
	padding: 0
.MapWrap
	display flex
	justify-content space-between
	height 90vh
#Map, #DescMap
	height 100%
#Map
	width 40%
#DescMap
	width 60%


.BigBrand
	&-Info
		width: 100%
		padding: 16px
	&-Wrap
		display flex
		align-items flex-start
	&-Logo
		width 175px
		height 94px
		background-size contain
		background-position center
		background-repeat no-repeat
		margin 15px
	&-Name
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 18px;
		text-decoration-line: underline;
		color: #C62828;
		margin-bottom: 5px
	&-Address
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
		color: #4F4F4F;
		margin-bottom: 10px
	&-Schedule, &-Phone
		&_Caption
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 11px;
			color: #BDBDBD;
		&_Data
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			line-height: normal;
			font-size: 11px;
			color: #4F4F4F;
	&-Phone
		margin-left: 50px
		&_Wrap
			display: flex
			margin-bottom: 10px
	&-Link
		font-family: Roboto !important
		font-size: 11px !important
		text-decoration: underline !important
		color: #D64B4B !important

.Brand
	padding 10px 0
	&-Address
		font-family: Roboto;
		font-size: 14px;
		color: #4F4F4F;
	&-Phone
		font-family: Roboto;
		font-size: 11px;
		color: #4F4F4F;
	&-Schedule
		font-family: Roboto;
		font-size: 11px;
		color: #4F4F4F;